<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mercado Liebre</title>
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/normalize.css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

</head>

<body>
  <header>
    <div class="encabezado">
      <img class="logo" src="/img/logo-mercado-liebre.svg" alt="logo mercado liebre" />
      <div class="buscador">
        <form action="#" method="post">
          <div>
            <label for="Buscar productos, marcas"></label>
            <br>
            <input type="text" placeholder="Buscar productos, marcas">
          </div>
          <i class="fas fa-search"></i>
        </form>
      </div>
      <p class="texto-header 2"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>

    </div>

    <nav class="barra-nav">
      <ul class="lista">
        <li><a href="http://localhost:3000/Ofertas">Ofetas</a></li>
        <li>
          <a href="http://localhost:3000/Tiendas-Oficiales">Tiendas oficiales</a>
        </li>
        <li><a href="http://localhost:3000/Vender">Vender</a></li>
        <li><a href="http://localhost:3000/Ayuda">Ayuda</a></li>
      </ul>

      <ul class="lista">
        <li><a href="http://localhost:3000/Registro">Creá tu cuenta</a><i class="far fa-id-card"></i></li>
        <li><a href="http://localhost:3000/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></i></li>
        <li><a href="http://localhost:3000/Mis-compras">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
      </ul>
    </nav>
    <div class="burger-menu">
      <i class="fas fa-bars burger"></i></i>
    </div>
  </header>
  <main>
    <img class="home_img" src="img/img-home-banner.jpg" alt="imagen del home">
    <h3 class="Titulares">Basado en tu ultima vista</h3>
    <section class="productos">
      <article>
        <img class="img_productos" src="/img/img-cafetera-moulinex.jpg" alt="cafetera" />
        <div class="info">
          <i class="fas fa-truck icono_envio"></i>
          <p class="precios">$6.770</p>
          <p class="descuentos">40% OFF</p>
          <h4>Cafetera Moulinex</h4>
        </div>
      </article>
      <article>
        <img class="img_productos" src="/img/img-macbook-pro-2019.jpg" alt="macbook" />
        <div class="info">
          <i class="fas fa-truck icono_envio"></i>
          <p class="precios">$230.000</p>
          <p class="descuentos">20% OFF</p>
          <h4>MacBook Pro 2019</h4>
        </div>
      </article>
      <article>
        <img class="img_productos" src="/img/img-samsung-galaxy-s10.jpg" alt="Celular" />
        <div class="info">
          <i class="fas fa-truck icono_envio"></i>
          <p class="precios">$70.500</p>
          <p class="descuentos">10% OFF</p>
          <h4>Samsung Galaxy S10</h4>
        </div>
      </article>
      <article>
        <img class="img_productos" src="/img/img-tv-samsung-smart.jpg" alt="TV" />
        <div class="info">
          <i class="fas fa-truck icono_envio"></i>
          <p class="precios">$23.200</p>
          <p class="descuentos">10% OFF</p>
          <h4>SmartTv Samsung 43"</h4>

      </article>
    </section>
    <h3 class="Titulares">Ofertas:</h3>
    <section class="productos">
      <article>
        <img class="img_productos" src="/img/img-cafetera-moulinex.jpg" alt="cafetera" />
        <div class="info">
          <i class="fas fa-truck icono_envio"></i>
          <p class="precios">$6.770</p>
          <p class="descuentos">40% OFF</p>
          <h4>Cafetera Moulinex</h4>
        </div>
      </article>
      <article>
        <img class="img_productos" src="/img/img-macbook-pro-2019.jpg" alt="macbook" />
        <div class="info">
          <i class="fas fa-truck icono_envio"></i>
          <p class="precios">$230.000</p>
          <p class="descuentos">20% OFF</p>
          <h4>MacBook Pro 2019</h4>
        </div>
      </article>
      <article>
        <img class="img_productos" src="/img/img-samsung-galaxy-s10.jpg" alt="Celular" />
        <div class="info">
          <i class="fas fa-truck icono_envio"></i>
          <p class="precios">$70.500</p>
          <p class="descuentos">10% OFF</p>
          <h4>Samsung Galaxy S10</h4>
        </div>
      </article>
      <article>
        <img class="img_productos" src="/img/img-tv-samsung-smart.jpg" alt="TV" />
        <div class="info">
          <i class="fas fa-truck icono_envio"></i>
          <p class="precios">$23.200</p>
          <p class="descuentos">10% OFF</p>
          <h4>SmartTv Samsung 43"</h4>
        </div>
      </article>
    </section>
  </main>
  <footer>
    <div class="pie">
      <div class="columnas">
        <i class="fas fa-credit-card icono_pie"></i>
        <h5>Pagá con tarjeta o en efectivo</h5>
        <p class="piee">
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </div>
      <div class="columnas">
        <i class="fas fa-gift icono_pie"></i>
        <h5>Envío gratis desde $ 2.500</h5>
        <p class="piee">
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </div>
      <div class="columnas">
        <i class="fas fa-user-shield icono_pie"></i>
        <h5>Seguridad, de principio a fin</h5>
        <p class="piee">
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
          puedas hacer, porque estás siempre protegid@.
        </p>
      </div>
    </div>
    <div>
      <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </div>
    </div>
  </footer>
</body>

</html>