<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado liebre Registro</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/registro.css">
    <link rel="stylesheet" href="/css/normalize.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>
<header>
    <div class="encabezado">
        <img class="logo" src="/img/logo-mercado-liebre.svg" alt="logo mercado liebre" />
        <div class="buscador">
            <form action="#" method="post">
                <div>
                    <label for="Buscar productos, marcas"></label>
                    <br>
                    <input type="text" placeholder="Buscar productos, marcas">
                </div>
                <i class="fas fa-search"></i>
            </form>
        </div>
        <p class="texto-header 2"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>

    </div>

    <nav class="barra-nav">
        <ul class="lista">
            <li><a href="http://localhost:3030/Ofertas">Ofetas</a></li>
            <li>
                <a href="http://localhost:3030/Tiendas-Oficiales">Tiendas oficiales</a>
            </li>
            <li><a href="http://localhost:3030/Vender">Vender</a></li>
            <li><a href="http://localhost:3030/Ayuda">Ayuda</a></li>
        </ul>

        <ul class="lista">
            <li><a href="http://localhost:3030/Registro">Creá tu cuenta</a><i class="far fa-id-card"></i></li>
            <li><a href="http://localhost:3000/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></i></li>
            <li><a href="http://localhost:3030/Mis-compras">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
        </ul>
    </nav>
    <div class="burger-menu">
        <i class="fas fa-bars burger"></i></i>
    </div>
</header>
<main>
    <img class="home_img" src="img/img-home-banner.jpg" alt="imagen del home"> 
    <form action="/registro" method="post">
        <div>
            <label for="nombre_apellido">Nombre y Apellido</label>
            <input type="text" class="info" name="nombre" id="nombre_apellido" required>
        </div>
        <div>
            <label for="nombre_usuario"> Nombre de Usiari@</label>
            <input type="text" class="info" name="ususario" id="nombre_usuario">
        </div>
        <div>
            <label for="nacimiento">Fecha de Nacimiento</label>
            <input type="date" class="info" name="nacimiento" id="nacimiento">
        </div>
        <div>
            <label for="domiciio">Domicilio</label>
            <input type="text" class="info" name="domicilio" id="domicilio">
        </div>
        <label>Tipo de Usuario</label>
        <div class="tipo-usuario">
            <div class="tipoUsu">
                <label><input type="radio" class="info1" name="tipo_usuario" value="comprador">Comprador</label>
            </div>
            <div>
                <label class="tipoUsu"><input type="radio" class="info1" name="tipo_usuario" value="vendedor">Vendedor</label>
            </div>
        </div>
        <label>Categorias de Interes:</label>
        <div class="categorias">
            <div>
                <label class="info3"><input type="checkbox" class="info2" name="categoria"
                        value="Electro">Electro</label>
            </div>
            <div>
                <label class="info3"><input type="checkbox" class="info2" name="categoria" value="Moda">Moda</label>
            </div>
            <div>
                <label class="info3"><input type="checkbox" class="info2" name="categoria" value="Hogar">Hogar</label>
            </div>
            <div>
                <label class="info3"><input type="checkbox" class="info2" name="categoria"
                        value="Jugueteria">Jugueteria</label>
            </div>
            <div>
                <label class="info3"><input type="checkbox" class="info2" name="categoria" value="Vida_Sana">Vida
                    Sana</label>
            </div>
        </div>
        <div>
            <label>Foto de Usuario</label>
            <input type="file" class="info" name="ImagenDeUsuario">
        </div>
        <div>
            <label for="contraseña">Contraseña</label>
            <input type="password" class="info" name="contraseña" id="contraseña">
        </div>
        <div>
            <label for="confcontraseña">Confirmar Contraseña</label>
            <input type="password" class="info" name="confcontraseña" id="confcontraseña">
        </div>
        <div class="botones">
            <div >
                <button type="reset">Cancelar</button>
            </div>
            <div>
                <button type="submit"><a class="enviar" href="http://localhost:3000/">Enviar</a></button>
            </div>
        </div>
    </form>

</main>
<footer>
    <div class="pie">
      <div class="columnas">
        <i class="fas fa-credit-card icono_pie"></i>
        <h5>Pagá con tarjeta o en efectivo</h5>
        <p class="piee">
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </div>
      <div class="columnas">
        <i class="fas fa-gift icono_pie"></i>
        <h5>Envío gratis desde $ 2.500</h5>
        <p class="piee">
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </div>
      <div class="columnas">
        <i class="fas fa-user-shield icono_pie"></i>
        <h5>Seguridad, de principio a fin</h5>
        <p class="piee">
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
          puedas hacer, porque estás siempre protegid@.
        </p>
      </div>
    </div>
    <div>
      <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </div>
    </div>
  </footer>

<body>

</body>

</html>